body {
    cursor: none; /* Приховує стандартний курсор */
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  button,
  a {
    cursor: none; /* Приховує стандартний курсор браузера */
  }
  
  .custom-cursor {
    width: 20px;
    height: 20px; 
    background-image: url('../assets/img/cursor.png'); 
    background-size: cover; /* Забезпечте належне масштабування зображення */
    position: fixed;
    z-index: 9999;
    pointer-events: none;
  }
  
  .enlarge {
    transform: scale(1.5); /* Масштабує курсор, змінюйте значення за бажанням */
  }
  
  